In [1]:
import os
import pandas as pd

In [2]:
current_path = os.getcwd()
raw_list_path = os.path.join(current_path, 'Raw List')
raw_list = os.listdir(raw_list_path)

In [3]:
df_combined = pd.DataFrame()
for i in raw_list:
    if i.endswith('.csv'):
        df = pd.read_csv(os.path.join(raw_list_path, i))
        df_combined = pd.concat([df_combined, df], axis=0)

In [4]:
df_combined.reset_index(drop=True, inplace=True)

In [5]:
df_combined

      Unnamed: 0 Company                      Date  Tahun_Buku
0              0    AALI  24 Februari 2021 | 14:27        2020
1              1    ABBA   25 Agustus 2021 | 23:48        2020
2              2    ABDA     31 Maret 2021 | 16:50        2020
3              3    ABMM       31 Mei 2021 | 15:01        2020
4              4    ACES       06 Mei 2021 | 17:16        2020
...          ...     ...                       ...         ...
2243         796    ZATA     03 April 2023 | 15:02        2022
2244         797    ZBRA     10 April 2023 | 17:54        2022
2245         798    ZINC      26 Juni 2023 | 21:49        2022
2246         799    ZONE     03 April 2023 | 15:09        2022
2247         800    ZYRX       02 Mei 2023 | 13:37        2022

[2248 rows x 4 columns]

In [6]:
df_combined = df_combined.drop(['Unnamed: 0'], axis=1)

In [7]:
df_combined

     Company                      Date  Tahun_Buku
0       AALI  24 Februari 2021 | 14:27        2020
1       ABBA   25 Agustus 2021 | 23:48        2020
2       ABDA     31 Maret 2021 | 16:50        2020
3       ABMM       31 Mei 2021 | 15:01        2020
4       ACES       06 Mei 2021 | 17:16        2020
...      ...                       ...         ...
2243    ZATA     03 April 2023 | 15:02        2022
2244    ZBRA     10 April 2023 | 17:54        2022
2245    ZINC      26 Juni 2023 | 21:49        2022
2246    ZONE     03 April 2023 | 15:09        2022
2247    ZYRX       02 Mei 2023 | 13:37        2022

[2248 rows x 3 columns]

In [8]:
def get_link(x):
    hasil = f'https://www.idx.co.id/Portals/0/StaticData/ListedCompanies/Corporate_Actions/New_Info_JSX/Jenis_Informasi/01_Laporan_Keuangan/02_Soft_Copy_Laporan_Keuangan//Laporan%20Keuangan%20Tahun%20{x["Tahun_Buku"]}/Audit/{x["Company"]}/inlineXBRL.zip'
    instancexbrl = f'https://www.idx.co.id/Portals/0/StaticData/ListedCompanies/Corporate_Actions/New_Info_JSX/Jenis_Informasi/01_Laporan_Keuangan/02_Soft_Copy_Laporan_Keuangan//Laporan%20Keuangan%20Tahun%20{x["Tahun_Buku"]}/Audit/{x["Company"]}/instance.zip'
    return instancexbrl

df_combined['Link'] = df_combined.apply(lambda x: get_link(x), axis=1)

In [9]:
df_combined

,Company,Date,Tahun_Buku,Link
0,AALI,24 Februari 2021 | 14:27,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...
1,ABBA,25 Agustus 2021 | 23:48,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...
2,ABDA,31 Maret 2021 | 16:50,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...
3,ABMM,31 Mei 2021 | 15:01,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...
4,ACES,06 Mei 2021 | 17:16,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...
...,...,...,...,...
2243,ZATA,03 April 2023 | 15:02,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...
2244,ZBRA,10 April 2023 | 17:54,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...
2245,ZINC,26 Juni 2023 | 21:49,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...
2246,ZONE,03 April 2023 | 15:09,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...
2247,ZYRX,02 Mei 2023 | 13:37,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...

In [10]:
df_combined.to_csv('combine list.csv')