In [2]:
import pandas as pd

# Load data_raw.csv

In [3]:
data = pd.read_csv('data_raw.csv')

data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,persediaan,piutang_pihak_tiga,piutang_relasi,jumlah_aset_tidak_lancar,jumlah_aset,...,jumlah_liabilitas_jangka_panjang,jumlah_ekuitas,jumlah_liabilitas,pendapatan,cogs,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,Avg Harga Saham 7 Hari
0,AALI,2020,2021-02-24 14:27:00,"978,892","5,937,890","2,165,603","391,189","374,660","21,843,341","27,781,231",...,"6,740,931","19,247,794","8,533,437","18,807,043","15,844,152","2,962,891","893,779","467,253",432.84,10057.715541
1,ABBA,2020,2021-08-25 23:48:00,"26,724,525,401","64,137,591,087","4,693,147,657","21,005,718,707","1,629,211,756","157,511,693,082","221,649,284,169",...,"90,136,585,445","103,710,671,008","325,359,955,177","158,607,888,337","82,063,860,407","76,544,027,930","58,331,871,976","149,827,890,727",16.3,672.857143
2,ABDA,2020,2021-03-31 16:50:00,"652,083,696",NaN,NaN,NaN,NaN,NaN,"2,477,781,648",...,NaN,"1,387,236,002","1,090,545,646",NaN,NaN,NaN,"138,190,287","170,780,025",223,6821.888184
3,ABMM,2020,2021-05-31 15:01:00,"109,212,396","314,160,618","37,715,417","105,289,651","33,325,201","513,076,561","827,237,179",...,"402,796,549","161,749,144","665,488,035","606,407,376","504,892,363","101,515,013","37,740,064","58,459,398",0.01295,675.715995
4,ACES,2020,2021-05-06 17:16:00,"2,219,784,801,023","5,034,737,166,320","2,453,226,712,334","28,395,970,760","115,086,693,129","2,212,326,727,974","7,247,063,894,294",...,"1,179,893,285,690","5,222,242,554,398","2,024,821,339,896","7,412,766,872,302","3,753,585,066,580","3,659,181,805,722","731,310,571,351","833,806,976,851",42.86,1329.044887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,ZATA,2022,2023-04-03 15:02:00,"24,478,415,707","456,838,923,139",NaN,"24,070,567,372",NaN,"268,853,860,763","725,692,783,902",...,"156,686,492,263","511,939,473,350","213,753,310,552","194,958,239,203","108,218,335,222","86,739,903,981","5,768,874,815","5,464,071,480",1.34,67.857143
2244,ZBRA,2022,2023-04-10 17:54:00,"17,158,493,885","2,446,170,156,290",NaN,"663,836,107,395","2,642,130,669","710,104,210,177","3,156,274,366,467",...,"167,850,853,357","1,260,000,386,899","1,896,273,979,568","2,958,367,547,579","2,607,505,060,314","350,862,487,265","112,308,310,596","109,277,572,669",46.45,480.285714
2245,ZINC,2022,2023-06-26 21:49:00,"53,464,902,205","677,776,438,628",NaN,"40,416,070,144",NaN,"1,798,177,599,273","2,475,954,037,901",...,"994,819,621,627","773,121,647,832","1,702,832,390,069","717,341,578,270","539,910,829,621","177,430,748,649","114,709,135,630","114,149,127,220",4.08,50.000000
2246,ZONE,2022,2023-04-03 15:09:00,"4,910,325,646","374,779,329,475",NaN,"26,039,320,929",NaN,"277,001,901,483","651,781,230,958",...,"105,758,180,179","346,848,227,198","304,933,003,760","672,881,397,294","296,178,428,795","376,702,968,499","72,940,513,980","72,344,079,526",84,1173.548880
2247,ZYRX,2022,2023-05-02 13:37:00,"206,376,346,678","623,253,608,907",NaN,"73,010,660,565","9,154,763,222","83,976,209,622","707,229,818,529",...,"6,656,257,000","268,289,329,246","438,940,489,283","770,370,214,533","626,234,121,494","144,136,093,039","78,627,417,442","78,731,060,722",58.97,287.540876

# Changes Format Number to Float

In [4]:
header_exclude = ['Company','Tahun_Buku','Tanggal Rilis']

header_list_changes =[]

for i in data.columns:
    if i not in header_exclude:
        header_list_changes.append(i)

header_list_changes

data[header_list_changes] = data[header_list_changes].replace({',': ''}, regex=True).astype(float)

In [5]:
data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,persediaan,piutang_pihak_tiga,piutang_relasi,jumlah_aset_tidak_lancar,jumlah_aset,...,jumlah_liabilitas_jangka_panjang,jumlah_ekuitas,jumlah_liabilitas,pendapatan,cogs,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,Avg Harga Saham 7 Hari
0,AALI,2020,2021-02-24 14:27:00,9.788920e+05,5.937890e+06,2.165603e+06,3.911890e+05,3.746600e+05,2.184334e+07,2.778123e+07,...,6.740931e+06,1.924779e+07,8.533437e+06,1.880704e+07,1.584415e+07,2.962891e+06,8.937790e+05,4.672530e+05,432.84000,10057.715541
1,ABBA,2020,2021-08-25 23:48:00,2.672453e+10,6.413759e+10,4.693148e+09,2.100572e+10,1.629212e+09,1.575117e+11,2.216493e+11,...,9.013659e+10,1.037107e+11,3.253600e+11,1.586079e+11,8.206386e+10,7.654403e+10,5.833187e+10,1.498279e+11,16.30000,672.857143
2,ABDA,2020,2021-03-31 16:50:00,6.520837e+08,NaN,NaN,NaN,NaN,NaN,2.477782e+09,...,NaN,1.387236e+09,1.090546e+09,NaN,NaN,NaN,1.381903e+08,1.707800e+08,223.00000,6821.888184
3,ABMM,2020,2021-05-31 15:01:00,1.092124e+08,3.141606e+08,3.771542e+07,1.052897e+08,3.332520e+07,5.130766e+08,8.272372e+08,...,4.027965e+08,1.617491e+08,6.654880e+08,6.064074e+08,5.048924e+08,1.015150e+08,3.774006e+07,5.845940e+07,0.01295,675.715995
4,ACES,2020,2021-05-06 17:16:00,2.219785e+12,5.034737e+12,2.453227e+12,2.839597e+10,1.150867e+11,2.212327e+12,7.247064e+12,...,1.179893e+12,5.222243e+12,2.024821e+12,7.412767e+12,3.753585e+12,3.659182e+12,7.313106e+11,8.338070e+11,42.86000,1329.044887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,ZATA,2022,2023-04-03 15:02:00,2.447842e+10,4.568389e+11,NaN,2.407057e+10,NaN,2.688539e+11,7.256928e+11,...,1.566865e+11,5.119395e+11,2.137533e+11,1.949582e+11,1.082183e+11,8.673990e+10,5.768875e+09,5.464071e+09,1.34000,67.857143
2244,ZBRA,2022,2023-04-10 17:54:00,1.715849e+10,2.446170e+12,NaN,6.638361e+11,2.642131e+09,7.101042e+11,3.156274e+12,...,1.678509e+11,1.260000e+12,1.896274e+12,2.958368e+12,2.607505e+12,3.508625e+11,1.123083e+11,1.092776e+11,46.45000,480.285714
2245,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,NaN,4.041607e+10,NaN,1.798178e+12,2.475954e+12,...,9.948196e+11,7.731216e+11,1.702832e+12,7.173416e+11,5.399108e+11,1.774307e+11,1.147091e+11,1.141491e+11,4.08000,50.000000
2246,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,NaN,2.603932e+10,NaN,2.770019e+11,6.517812e+11,...,1.057582e+11,3.468482e+11,3.049330e+11,6.728814e+11,2.961784e+11,3.767030e+11,7.294051e+10,7.234408e+10,84.00000,1173.548880
2247,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,NaN,7.301066e+10,9.154763e+09,8.397621e+10,7.072298e+11,...,6.656257e+09,2.682893e+11,4.389405e+11,7.703702e+11,6.262341e+11,1.441361e+11,7.862742e+10,7.873106e+10,58.97000,287.540876

# Ratio Calculation

In [6]:
# Price Earning Ratio

data['per'] = data['Avg Harga Saham 7 Hari'] / data['EPS']

# Current Ratio
data['current_ratio'] = data['jumlah_aset_lancar'] / data['jumlah_liabilitas_jangka_pendek']

#Quick Ratio
data['quick_ratio'] = (data['jumlah_aset_lancar'] - data['persediaan']) / data['jumlah_liabilitas_jangka_pendek']

#Cash Ratio 
data['cash_ratio'] = data['kas'] / data['jumlah_liabilitas_jangka_pendek']

#Account Receivable Turnover
data['AR_Turnover'] = data['pendapatan']/(data['piutang_pihak_tiga']+data['piutang_relasi'])

#Account Receivable Turnover in Days
data['AR_Turnover_in_Days'] = int(365) / data['AR_Turnover']

#Asset Turnover
data['Aset_Turnover'] = data['pendapatan'] / data['jumlah_aset']

#Inventory Turnover
data['inventory_turnover'] = data['cogs'] / data['persediaan']

#deb to Equity
data['debt_to_equity'] = data['jumlah_liabilitas'] / data['jumlah_ekuitas']

#equity ratio
data['equity_ratio'] = data['jumlah_ekuitas'] / data['jumlah_aset']

#Debt Ratio --> Is it needed? even already had equity ratio?
data['debt_ratio'] = data['jumlah_liabilitas'] / data['jumlah_aset']

#Gross Profit Margin
data['gpm'] = data['laba_bruto'] / data['pendapatan']

#Net Profit Margin
data['net_profit_margin'] = data['laba_rugi_komprehensif'] / data['pendapatan']

#Return on Asset
data['roa'] = data['laba_rugi_komprehensif'] / data['jumlah_aset']

#return on Capital Employed
data['roce'] = data['laba_bruto']/(data['jumlah_ekuitas']+data['jumlah_liabilitas_jangka_panjang'])

# Number of nan

In [8]:
number_of_missing_value = data.isna().sum()