In [20]:
import pandas as pd

# Load data_raw.csv

In [21]:
data = pd.read_csv('data_raw.csv')

data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,jumlah_aset_tidak_lancar,jumlah_aset,jumlah_liabilitas_jangka_pendek,jumlah_liabilitas_jangka_panjang,jumlah_ekuitas,jumlah_liabilitas,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,Avg Harga Saham 7 Hari
0,AALI,2020,2021-02-24 14:27:00,"978,892","5,937,890","21,843,341","27,781,231","1,792,506","6,740,931","19,247,794","8,533,437","2,962,891","893,779","467,253",432.84,10057.715681
1,ABBA,2020,2021-08-25 23:48:00,"26,724,525,401","64,137,591,087","157,511,693,082","221,649,284,169","235,223,369,732","90,136,585,445","103,710,671,008","325,359,955,177","76,544,027,930","58,331,871,976","149,827,890,727",16.3,672.857143
2,ABDA,2020,2021-03-31 16:50:00,"652,083,696",NaN,NaN,"2,477,781,648",NaN,NaN,"1,387,236,002","1,090,545,646",NaN,"138,190,287","170,780,025",223,6821.888672
3,ABMM,2020,2021-05-31 15:01:00,"109,212,396","314,160,618","513,076,561","827,237,179","262,691,486","402,796,549","161,749,144","665,488,035","101,515,013","37,740,064","58,459,398",0.01295,675.715995
4,ACES,2020,2021-05-06 17:16:00,"2,219,784,801,023","5,034,737,166,320","2,212,326,727,974","7,247,063,894,294","844,928,054,206","1,179,893,285,690","5,222,242,554,398","2,024,821,339,896","3,659,181,805,722","731,310,571,351","833,806,976,851",42.86,1329.044887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,ZATA,2022,2023-04-03 15:02:00,"24,478,415,707","456,838,923,139","268,853,860,763","725,692,783,902","57,066,818,289","156,686,492,263","511,939,473,350","213,753,310,552","86,739,903,981","5,768,874,815","5,464,071,480",1.34,67.857143
2244,ZBRA,2022,2023-04-10 17:54:00,"17,158,493,885","2,446,170,156,290","710,104,210,177","3,156,274,366,467","1,728,423,126,211","167,850,853,357","1,260,000,386,899","1,896,273,979,568","350,862,487,265","112,308,310,596","109,277,572,669",46.45,480.285714
2245,ZINC,2022,2023-06-26 21:49:00,"53,464,902,205","677,776,438,628","1,798,177,599,273","2,475,954,037,901","708,012,768,442","994,819,621,627","773,121,647,832","1,702,832,390,069","177,430,748,649","114,709,135,630","114,149,127,220",4.08,50.000000
2246,ZONE,2022,2023-04-03 15:09:00,"4,910,325,646","374,779,329,475","277,001,901,483","651,781,230,958","199,174,823,581","105,758,180,179","346,848,227,198","304,933,003,760","376,702,968,499","72,940,513,980","72,344,079,526",84,1173.548880
2247,ZYRX,2022,2023-05-02 13:37:00,"206,376,346,678","623,253,608,907","83,976,209,622","707,229,818,529","432,284,232,283","6,656,257,000","268,289,329,246","438,940,489,283","144,136,093,039","78,627,417,442","78,731,060,722",58.97,287.540876

# Changes Format Number to Float

In [22]:
header_exclude = ['Company','Tahun_Buku','Tanggal Rilis']

header_list_changes =[]

for i in data.columns:
    if i not in header_exclude:
        header_list_changes.append(i)

header_list_changes

data[header_list_changes] = data[header_list_changes].replace({',': ''}, regex=True).astype(float)

In [23]:
data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,jumlah_aset_tidak_lancar,jumlah_aset,jumlah_liabilitas_jangka_pendek,jumlah_liabilitas_jangka_panjang,jumlah_ekuitas,jumlah_liabilitas,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,Avg Harga Saham 7 Hari
0,AALI,2020,2021-02-24 14:27:00,9.788920e+05,5.937890e+06,2.184334e+07,2.778123e+07,1.792506e+06,6.740931e+06,1.924779e+07,8.533437e+06,2.962891e+06,8.937790e+05,4.672530e+05,432.84000,10057.715681
1,ABBA,2020,2021-08-25 23:48:00,2.672453e+10,6.413759e+10,1.575117e+11,2.216493e+11,2.352234e+11,9.013659e+10,1.037107e+11,3.253600e+11,7.654403e+10,5.833187e+10,1.498279e+11,16.30000,672.857143
2,ABDA,2020,2021-03-31 16:50:00,6.520837e+08,NaN,NaN,2.477782e+09,NaN,NaN,1.387236e+09,1.090546e+09,NaN,1.381903e+08,1.707800e+08,223.00000,6821.888672
3,ABMM,2020,2021-05-31 15:01:00,1.092124e+08,3.141606e+08,5.130766e+08,8.272372e+08,2.626915e+08,4.027965e+08,1.617491e+08,6.654880e+08,1.015150e+08,3.774006e+07,5.845940e+07,0.01295,675.715995
4,ACES,2020,2021-05-06 17:16:00,2.219785e+12,5.034737e+12,2.212327e+12,7.247064e+12,8.449281e+11,1.179893e+12,5.222243e+12,2.024821e+12,3.659182e+12,7.313106e+11,8.338070e+11,42.86000,1329.044887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,ZATA,2022,2023-04-03 15:02:00,2.447842e+10,4.568389e+11,2.688539e+11,7.256928e+11,5.706682e+10,1.566865e+11,5.119395e+11,2.137533e+11,8.673990e+10,5.768875e+09,5.464071e+09,1.34000,67.857143
2244,ZBRA,2022,2023-04-10 17:54:00,1.715849e+10,2.446170e+12,7.101042e+11,3.156274e+12,1.728423e+12,1.678509e+11,1.260000e+12,1.896274e+12,3.508625e+11,1.123083e+11,1.092776e+11,46.45000,480.285714
2245,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,1.798178e+12,2.475954e+12,7.080128e+11,9.948196e+11,7.731216e+11,1.702832e+12,1.774307e+11,1.147091e+11,1.141491e+11,4.08000,50.000000
2246,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,2.770019e+11,6.517812e+11,1.991748e+11,1.057582e+11,3.468482e+11,3.049330e+11,3.767030e+11,7.294051e+10,7.234408e+10,84.00000,1173.548880
2247,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,8.397621e+10,7.072298e+11,4.322842e+11,6.656257e+09,2.682893e+11,4.389405e+11,1.441361e+11,7.862742e+10,7.873106e+10,58.97000,287.540876

# Ratio Calculation

In [24]:
# Price Earning Ratio

data['per'] = data['Avg Harga Saham 7 Hari'] / data['EPS']

# Current Ratio
data['current_ratio'] = data['jumlah_aset_lancar'] / data['jumlah_liabilitas_jangka_pendek']

#Quick Ratio

#Cash Ratio
data['cash_ratio'] = data['kas'] / data['jumlah_liabilitas_jangka_pendek']

#Account Receivable Turnover


#Account Receivable Turnover in Days


#Asset Turnover


#Inventory Turnover


#deb to Equity
data['debt_to_equity'] = data['jumlah_liabilitas'] / data['jumlah_ekuitas']

#equity ratio
data['equity_ratio'] = data['jumlah_ekuitas'] / data['jumlah_aset']

#Debt Ratio --> Is it needed? even already had equity ratio?
data['debt_ratio'] = data['jumlah_liabilitas'] / data['jumlah_aset']

#Gross Profit Margin


#Net Profit Margin


#Return on Asset
data['roa'] = data['laba_rugi_komprehensif'] / data['jumlah_aset']

#return on Capital Employed
data['roce'] = data['laba_bruto']/(data['jumlah_ekuitas']+data['jumlah_liabilitas_jangka_panjang'])

In [25]:
data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,jumlah_aset_tidak_lancar,jumlah_aset,jumlah_liabilitas_jangka_pendek,jumlah_liabilitas_jangka_panjang,jumlah_ekuitas,...,EPS,Avg Harga Saham 7 Hari,per,current_ratio,cash_ratio,debt_to_equity,equity_ratio,debt_ratio,roa,roce
0,AALI,2020,2021-02-24 14:27:00,9.788920e+05,5.937890e+06,2.184334e+07,2.778123e+07,1.792506e+06,6.740931e+06,1.924779e+07,...,432.84000,10057.715681,23.236567,3.312619,0.546102,0.443346,0.692834,0.307166,0.016819,0.114007
1,ABBA,2020,2021-08-25 23:48:00,2.672453e+10,6.413759e+10,1.575117e+11,2.216493e+11,2.352234e+11,9.013659e+10,1.037107e+11,...,16.30000,672.857143,41.279579,0.272667,0.113613,3.137189,0.467904,1.467904,0.675968,0.394868
2,ABDA,2020,2021-03-31 16:50:00,6.520837e+08,NaN,NaN,2.477782e+09,NaN,NaN,1.387236e+09,...,223.00000,6821.888672,30.591429,NaN,NaN,0.786128,0.559870,0.440130,0.068925,NaN
3,ABMM,2020,2021-05-31 15:01:00,1.092124e+08,3.141606e+08,5.130766e+08,8.272372e+08,2.626915e+08,4.027965e+08,1.617491e+08,...,0.01295,675.715995,52178.841289,1.195930,0.415744,4.114322,0.195529,0.804471,0.070668,0.179817
4,ACES,2020,2021-05-06 17:16:00,2.219785e+12,5.034737e+12,2.212327e+12,7.247064e+12,8.449281e+11,1.179893e+12,5.222243e+12,...,42.86000,1329.044887,31.008980,5.958776,2.627188,0.387730,0.720601,0.279399,0.115054,0.571556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,ZATA,2022,2023-04-03 15:02:00,2.447842e+10,4.568389e+11,2.688539e+11,7.256928e+11,5.706682e+10,1.566865e+11,5.119395e+11,...,1.34000,67.857143,50.639659,8.005334,0.428943,0.417536,0.705449,0.294551,0.007529,0.129729
2244,ZBRA,2022,2023-04-10 17:54:00,1.715849e+10,2.446170e+12,7.101042e+11,3.156274e+12,1.728423e+12,1.678509e+11,1.260000e+12,...,46.45000,480.285714,10.339843,1.415261,0.009927,1.504979,0.399205,0.600795,0.034622,0.245728
2245,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,1.798178e+12,2.475954e+12,7.080128e+11,9.948196e+11,7.731216e+11,...,4.08000,50.000000,12.254902,0.957294,0.075514,2.202541,0.312252,0.687748,0.046103,0.100360
2246,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,2.770019e+11,6.517812e+11,1.991748e+11,1.057582e+11,3.468482e+11,...,84.00000,1173.548880,13.970820,1.881660,0.024653,0.879154,0.532154,0.467846,0.110994,0.832297
2247,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,8.397621e+10,7.072298e+11,4.322842e+11,6.656257e+09,2.682893e+11,...,58.97000,287.540876,4.876054,1.441768,0.477409,1.636071,0.379352,0.620648,0.111323,0.524235