In [1]:
import yfinance as yf

In [2]:
stock_data = yf.download("BBCA.JK", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [3]:
stock_data

              Open    High     Low   Close    Adj Close     Volume
Date
2017-01-02  3100.0  3100.0  3100.0  3100.0  2775.055420          0
2017-01-03  3100.0  3155.0  3045.0  3155.0  2824.290039   46748000
2017-01-04  3170.0  3175.0  3130.0  3140.0  2810.862793   85216500
2017-01-05  3140.0  3155.0  3125.0  3135.0  2806.386475   97909000
2017-01-06  3090.0  3140.0  3090.0  3120.0  2792.958984   36603000
...            ...     ...     ...     ...          ...        ...
2017-04-21  3415.0  3500.0  3405.0  3495.0  3152.270996   86655500
2017-04-25  3530.0  3530.0  3460.0  3480.0  3138.741455  111180500
2017-04-26  3530.0  3600.0  3460.0  3600.0  3246.973877   82166000
2017-04-27  3480.0  3525.0  3480.0  3505.0  3161.289795   68316500
2017-04-28  3505.0  3555.0  3505.0  3550.0  3201.876953   68971000

[82 rows x 6 columns]